#gallery{
  height: 200%;
  width: 200%;
  position: absolute;
  background-color: rgb(20, 20, 20);
}

.tile{
  position: absolute;
}
 
.tile > img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  border-radius:inherit;
}

.tile:hover {
  transform:scale(1.1);
}

img {
  opacity: 0;
  transition: all 1s linear;
}
.tile:hover > img{
  opacity:1;
  transform: scale(1.01);
}
.tile:nth-child(1){
  background-color:rebeccapurple;
  height: 15%;
  width:25% ;
  left: 3%;
  top: 4%;
} 

.tile:nth-child(2){
  background-color:rgb(44, 192, 76);
  height: 25%;
  width:15% ;
  left: 35%;
  top: 40%;
} 
.tile:nth-child(3){
  background-color:rgb(206, 93, 40);
  height: 10%;
  width:20% ;
  left: 33%;
  top: 4%;
} 
.tile:nth-child(4){
  background-color:rgb(8, 21, 214);
  height: 25%;
  width: 10% ;
  left: 3%;
  top: 43%;
} 
.tile:nth-child(5){
  background-color:rgb(73, 17, 22);
  height: 35%;
  width:25% ;
  left: 65%;
  top: 43%;
} 
.tile:nth-child(6){
  background-color:rgb(190, 190, 190);
  height: 20%;
  width: 25% ;
  left: 5%;
  top: 20%;
} 
.tile:nth-child(7){
  background-color:rgb(159, 182, 30);
  height: 15%;
  width:25% ;
  left: 23%;
  top: 74%;
} 
.tile:nth-child(8){
  background-color:rgb(38, 156, 172);
  height: 35%;
  width:15% ;
  left: 70%;
  top: 4%;
} 
.tile:nth-child(9){
  background-color:rgb(7, 29, 226);
  height: 20%;
  width:23% ;
  left: 70%;
  top: 80%;
} 
.tile:nth-child(10){
  background-color:rgb(130, 155, 20);
  height: 15%;
  width:25% ;
  left: 40%;
  top: 24%;
} 
